.ques {
  background-color: white;
  margin: 20px 300px 20px 300px;
  padding: 40px 50px 0px 50px;
  border-radius: 30px;
  font-size: 20px;

  /* line-height: 15px; */
}
.optiondisabled {
  line-height: 40px;
  /* border: 1px solid black; */
  margin: 20px;
  /* background-color: lightblue; */
}
.option {
  line-height: 40px;
  /* border: 1px solid black; */
  margin: 20px;
}
label {
  font-weight: bold;
}
a {
  float: right;
  text-decoration: none;
  font-size: 20px;
}
.btn {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 20px 0px 20px; 
  background-color: aliceblue; */
}
.left {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin: 10px 0px;
}
.right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin: 10px 0px;
}
.link {
  display: flex;
  justify-content: end;
}
.link a {
  color: #9e9999;
}
.link a:hover {
  cursor: pointer;
  color: red;
}
a:hover {
  color: red;
}
h2 {
  background-color: blue;
  text-align: center;
  margin: 20px 300px 20px 300px;
  padding: 40px 50px 40px 50px;
  border-radius: 30px;
  font-size: 60px;
  color: white;
}